[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/AudioFile"]
	path = vendor/AudioFile
	url = https://github.com/adamstark/AudioFile.git
[submodule "vendor/wxWidgets"]
	path = vendor/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
